.container_topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;
  padding: 0 20px;
  background: #F9DB79;
}
.Image {
  width: 120px;
  height: 120px;
}
.container_nav {
  display: flex;
  gap: 30px;
  padding: 20px 5px;
}
.text {  
  font-size: .9em;
  text-decoration: none;
  color: #000000;
}
